<!doctype html>
{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
      <link rel="shortcut icon" href="{% static 'img/dragonite_favicon.png' %}" />
      <title>Dragonite | Archives</title>
    </head>
    <body>
    <div>
        <h2>&#9993; By Dragonite &#9993;</h2>
        <h3>
          <a href="{% url 'blog:blog_archive' %}" class="archives_link">Archive</a> |
          <a href="{% url 'signup' %}" class="archives_link">Subscribe</a> |
          <a href="{% url 'about' %}" class="archives_link">About</a>
        </h3>
    </div>
    <div>
      <p>{{ post.body }}</p>
    </div>
    </body>
</html>
