<!doctype html>
{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    </head>
    <body>
    <div>
        <h2>&#9729; By Dragonite &#9729;</h2>
        <h3>
          <a href="{% url 'blog:blog_archive' %}" class="archives_link">Archive</a> |
          <a href="{% url 'signup' %}" class="archives_link">Subscribe</a> |
          <a href="{% url 'blog:blog_archive' %}" class="archives_link">About</a>
        </h3>
    </div>
      <p>hi</p>
    </body>
</html>
