<!doctype html>
{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
      <link rel="shortcut icon" href="{% static 'img/dragonite_favicon.png' %}" />
      <title>Dragonite | About</title>
    </head>
    <body>
    <div>
        <h2>&#9993; By Dragonite &#9993;</h2>
        <h3>
          <a href="{% url 'blog:blog_archive' %}" class="archives_link">Archive</a> |
          <a href="{% url 'signup' %}" class="archives_link">Subscribe</a> |
          <a href="{% url 'about' %}" class="archives_link">About</a>
        </h3>
    </div>
    <div class="about_blurb">
      <p>By Dragonite is my personal blog/newsletter site. I've always wanted a place to store links, readings, and fun snippets to re-discover later. With a couple years of consistent posting, I want to return to this site, and read over past posts. If I do it right, it'll have me feeling like an adult playing Pokemon again.</p>
    </div>
    </body>
</html>
